.main_wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 1.1rem;
    font-size: 1.2rem;
}

.first_para {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.3rem;
    font-weight: bold;
    /* border: 1px solid red; */
}

.main_head {
    margin-bottom: 0.5rem;
}

.sec_para {
    margin-top: 2.5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
}

.sec_para img {
    width: 100%;
}

.sec_para p {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.third_para {
    width: 100%;
    text-align: left;
    font-size: 1.3rem;
    line-height: 0.9cm;
}

.third_para_cont {
    max-width: 100%;
}

.foot_imo {
    width: 100%;
    /* border : 1px solid red; */
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.news_view {
    width: 3.6rem;
    height: 3.6rem;
    border: 1px solid #E1E4E5;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.no_like {
    width: 8rem;
    height: 3.5rem;
    border-radius: 30px;
    border: 1px solid #E1E4E5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.2rem;
}

.no_like span {
    padding-left: 0.1rem;
}

@media only screen and (max-width: 600px) {
    .first_para {
        font-size: 1rem;
        font-weight: bold;
    }

    .sec_para p {
        font-size: 0.8rem;
    }

    .third_para {
        width: 100%;
        font-size: 1rem;
    }

    .copyright {
        font-size: 1rem;
    }
}